*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none ;
}
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.allApp {
  padding: 20px;
  max-width: 1230px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.app-logo {
  max-height: 50px;
}

.search-bar {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.search-bar:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.register-button, .login-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.register-button:hover, .login-button:hover {
  background-color: #0056b3;
}

.categorias {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.categoria-select {
  margin-left: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  background-color: #ffc107;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.categoria-select:hover {
  background-color: #e9e9e9;
}

.description{
  padding: 30px;
}
.libros-lista {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.libro {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.libro:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.libro-portada {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.descargar-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.descargar-link:hover {
  background-color: #0056b3;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 35px 0;
  text-align: center;
  margin-top: 20px;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-nav ul li {
  display: inline;
  margin: 0 15px;
}

.footer-nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-nav ul li a:hover {
  color: #ffc107;
}
